<div class="row">
  <div class="span4">
  <h2> Navigation Bar <h2>
  </div>
<div class="span8">
<h1>Mannicure Near Me</h1>

<p>Welcome, get inspired by nail salons around you.</p>
<a href= "#"> Sign Up</a>

</div>
</div>