<div class="row">
  <div class="span4">
<H3>hello</H3>
  </div>
<div class="span8">
<h1><FONT COLOR="Black">Discover Shambhala</h1>



<h3> </p></h3>

 <div class="row-fluid" >
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="">
                  <div class="caption">
                    <h3><FONT COLOR="White">Thumbnail label</h3>
                  
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="">
                  <div class="caption">
                    <h3>Thumbnail label</FONT></h3>
              
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="">
                  <div class="caption">
                    <h3><FONT COLOR="White">Thumbnail label</h3>
                    </FONT COLOR></p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

<div class="hero-unit">
  <h3> <p class="text-center">Can't see it all... What path will you take?</p>
  </h3>

    <a class="btn btn-primary btn-large">
      Share 
    </a>
</div>
    
  </p>
</div>
</div>
</div>