<div class="row">
  <div class="span4">
  </div>
<div class="span8">
<h1>Discover Shambhala</h1>

<p>A couple calendars curated by headliner, stage and vibe.
Take a look, leave a comment. Who are you looking forward to?</p>

</div>
</div>